@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KhachHangModel

@{
    ViewData["Title"] = "Trang Chi Tiết Khách Hàng";
    var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info">
        @message
    </div>
}
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateKhachHang">CreateKH</a>
    @if (Model != null)
    {
        <div>
            <p>@Model.iMaKH</p>
            <p>@Model.sTenKH</p>
            <p>@Model.sDiachi</p>
            <p>@Model.sDienthoai</p>
            <p>@Model.bGioitinh</p>
            <p>@Model.iTuoi</p>
            <p><a class="nav-link " asp-area="" asp-controller="Home" asp-action="EditKH" asp-route-id="@Model.iMaKH">Edit</a></p>
        </div>
    }
</div>